<html class="h-full bg-slate-200">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script
      src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"
    ></script>

    <script>
      tailwind.config = { theme: { extend: { fontFamily: { sans: ['Inter var'] }
      } } }
    </script>

<script type="module" src="https://unpkg.com/wavesurfer.js"></script> 
    <script type="module" src="./javascripts/script.js"></script>
        
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="h-full">
    <d  iv class="min-h-full">
      <nav class="border-b border-gray-200 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <div class="flex flex-shrink-0 items-center">
                <img
                  class="block h-8 w-auto lg:hidden"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                  alt="Your Company"
                />
                <img
                  class="hidden h-8 w-auto lg:block"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                  alt="Your Company"
                />
              </div>
            </div>
        </div>
      </nav>

      <div class="py-10">
        <header>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1
              class="text-3xl font-bold leading-tight tracking-tight text-gray-900"
            >Deluge Kit Generator</h1>
          </div>
        </header>
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
           {{{body}}}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>