:root {
  --tone1-primary-color: #001219;
  --tone1-secondary-color: #005f73;
  --tone1-tertiary-color: #0a9396;
  --tone1-quaternary-color: #94d2bd;

  --tone2-primary-color: #9b2226;
  --tone2-secondary-color: #ae2012;
  --tone2-tertiary-color: #bb3e03;
  --tone2-quaternary-color: #ca6702;
  --tone2-quinary-color: #ee9b00;
  --tone2-senary-color: #e9d8a6;

  --panel-main-width: 90%;
  --panel-main-height: 90%;

  --default-border-radius: 1em;
}

body {
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  color: black;
  padding: 0px;
  margin: 0px;
}

#main-panel {
  width: var(--panel-main-width);
  height: var(--panel-main-height);
  margin-left: calc((100% - var(--panel-main-width)) / 2);
  margin-top: calc((100% - var(--panel-main-height)) / 2);
  background-color: var(--tone1-secondary-color);
  border: 1px;
  border-radius: var(--default-border-radius);
  display: grid;
  grid-template-rows: 25% 75%;
}

#sample-panel {
  margin-top: calc((100% - var(--panel-main-height)) / 2);
  background-color: var(--tone2-secondary-color);
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

#text-panel {
  display: grid;
  grid-template-rows: 20%;
}

#text-panel-title {
  background-color: var(--tone1-primary-color);
}

#interface {
  background-color: var(--tone1-quinary-color);
  height: auto;
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

#sample-list {
}

#sample-panel-title {
  background-color: var(--tone2-primary-color);
}

#export-kit-button {
  background-color: var(--tone2-secondary-color);
  border: var(--tone2-quinary-color) solid 3px;
}

#export-kit-button:hover {
  background-color: var(--tone2-quaternary-color);
  border: var(--tone2-tertiary-color) solid 3px;
}

#export-kit-button:active {
  border: var(--tone2-primary-color) solid 3px;
}

.item-list {
  background-color: var(--tone2-quaternary-color);
  border: var(--tone2-quinary-color) solid 3px;
  margin: 5px;
}
